body {
  padding: 70px;
}

.card {
  color: black;
}
.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttoncustom {
  display: flex;
  align-items: center;
}

.icon-button {
  border: none;
}

.complete {
  text-decoration: line-through;
}
